.recipe-grid {
    width: 50%;
    display: grid;
    grid-gap: 2vh;
    grid-template-columns: repeat(2, 33%) auto;
    grid-template-rows: 10vh 30vh auto auto;
    margin: 0 0 0 2vh;
}

img {
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
}

p {
    margin: 0 0 2vh 0;
}

.recipe-grid > * {
    display: flex;
    padding: 1vh;
}

.recipe-grid > .image-container {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    padding: 0;
    background-color: #ffd530;
    border-bottom: 10px solid #f6eb54;
}

.recipe-header {
    grid-column: 3 / -1;
    font-size: 5vh;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #f6eb54;
    -webkit-box-shadow: -3px 0 0 0 rgba(209,179,88,1);
    -moz-box-shadow: -3px 0 0 0 rgba(209,179,88,1);
    box-shadow: -3px 0 0 0 rgba(209,179,88,1);
}

.ingredients {
    grid-column: 3 / -1;
    font-size: 2.3vh;
    flex-direction: column;
    line-height: 4vh;
}

.instructions-header {
    grid-column: 1 / 3;
    font-size: 4vh;
    color: #fff;
    border-radius: 4px;
    border-bottom: 4px solid #a0a0a0;
    justify-content: center;
    background-color: #b9b9b9;
}

.instructions-body {
    line-height: 3vh;
    grid-column: 1 / -1;
    grid-row: 4 / -1;
    font-size: 2.5vh;
    flex-direction: column;
    border-bottom: 1px solid #a7a7a7;
}

.comment-submit-container {
    display: flex;
    flex-direction: column;
    margin: 2vh;
    width: 32%;
}

.submit-body {
    margin: 0 0 1vh 0;
    resize: none;
    border: 1px solid #c2c2c2;
    font-family: 'Hind', Verdana, sans-serif;
    min-height: 10vh;
    padding: 1vh;
}

.comment-submit-container > button {
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu', Verdana, sans-serif;
    font-size: 2vh;
    font-weight: 800;
    border: none;
    background-color: #f6eb54;
    border-radius: 5px;
    border-bottom: 5px solid #D1B358;
    padding: 1.5vh 0 1vh 0;
    letter-spacing: 0.3vh;
    text-shadow: -1px 0 goldenrod, 0 1px goldenrod, 1px 0 goldenrod, 0 -1px goldenrod;
}

.comment-submit-container > button:hover {
    cursor: pointer;
}
.comment-container {
    margin: 2vh;
    padding: 2vh;
    background-color: #fff;
    width: 30%;
    position: relative;
    border: 1px solid #c2c2c2;
    font-family: 'Abel', Verdana, sans-serif;

}

.comment-author {

}

.comment-date {
    font-size: 1.5vh;
    margin-top: 0.5vh;
}

.comment-body {
    margin-top: 2vh;
}

.delete-button {
    position: absolute;
    right: 0;
    top: 6px;
}

.delete-button > button {
    font-family: 'Ubuntu', Verdana, sans-serif;
    font-size: 1.7vh;
    color: #747474;
    border: none;
    background-color: #fff;
}

.delete-button > button:hover {
    cursor: pointer;
    color: black;
}
